<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/layout/assets/css/root.css">
	<link rel="stylesheet" href="/layout/assets/css/ui.css">
	<link rel="stylesheet" href="/layout/assets/css/fonts.css">
	<link rel="stylesheet" href="/layout/assets/css/header.css">

	<title>Comma Software</title>
</head>
<body>
	<header class="main-header">
		<div class="main-header__pannel">
			<div class="main-header__logo">
				<img src="/layout/assets/images/comma-logo-white.png" alt="Comma">
			</div>
			<nav>
				<ul>
					<li><a href="#!" class="btn is-small is-transparent-bg">Кейсы</a></li>
					<li><a href="#!" class="btn is-small is-transparent-bg">Услуги</a></li>
					<li><a href="#!" class="btn is-small is-transparent-bg">Page 404</a></li>
				</ul>
			</nav>
			<span class="btn">Начать проект</span>
		</div>
	</header>
</body>
</html>