* {
	font-family: "Roboto", "Arial", sans-serif;
}

/* Fonts for WordPress articles */
.comma-wp-content {
	display: flex;
	flex-direction: column;
	gap: var(--space-6x);

	color: var(--color-black);
	font-size: var(--font-size-content);
	font-weight: 400;
	line-height: 160%; /* 25.6px */
	letter-spacing: -0.01em;
}

.comma-wp-content a {
	text-decoration: none;
	color: var(--color-violet-ease);

	transition: var(--transition-fast);
}

.comma-wp-content a:hover,
.comma-wp-content a:active {
	color: var(--color-violet-darker);
	text-decoration: underline;
}

.comma-wp-content img {
	width: 100%;
	border-radius: var(--space-2x);
}

.comma-wp-content h2 {
	display: block;
	padding-top: var(--space-8x);
	padding-bottom: var(--space-3x);

	font-size: var(--font-size-heading);
	font-weight: 900;

	border-bottom: 1px solid #D9D9D9;
}

.comma-wp-content h2::before {
	content: "/";
	color: var(--color-violet);
}


.comma-wp-content h3 {
	font-size: var(--font-size-heading-small);
	font-weight: 900;
}

.comma-wp-content h4 {
	font-size: var(--font-size-content-big);
	font-weight: 900;
}

.comma-wp-content h5 {
	font-size: var(--font-size-content);
	font-weight: 900;
}

.comma-wp-content h6 {
	font-size: var(--font-size-content-small);
	font-weight: 900;
}

.comma-wp-content cite {
	color: var(--color-gray, #999);
	font-size: var(--font-size-content-small);
}

.comma-wp-content .wp-block-quote {
	display: flex;
	flex-direction: column;
	gap: var(--space-3x);

	padding-left: var(--space-3x);

	border-left: 2px solid var(--color-black);
}

.comma-wp-content .wp-block-quote p {
	font-size: var(--font-size-content-big);
	font-weight: 700;
}

.wp-block-pullquote {
	padding-top: var(--space-6x);

	border-top: 2px solid var(--color-black);
}

.wp-block-pullquote blockquote::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 25' style='enable-background:new 0 0 24 25;' xml:space='preserve'><path fill='%23000000' d='M20,21.3c1.1,0,2-0.9,2-2v-4.9c0-1.1-0.9-2-2-2h-2.8c0-0.7,0-1.4,0.1-2.1c0.1-0.7,0.3-1.4,0.6-2c0.3-0.6,0.7-1,1.1-1.4c0.5-0.4,1-0.6,1.7-0.6V3.3c-1.2,0-2.2,0.2-3,0.7c-0.9,0.5-1.6,1.2-2.2,2c-0.5,0.8-1,1.8-1.2,2.9C14.1,10,14,11.2,14,12.4v6.9c0,1.1,0.9,2,2,2H20z M8,21.3c1.1,0,2-0.9,2-2v-4.9c0-1.1-0.9-2-2-2H5.2c0-0.7,0-1.4,0.1-2.1c0.1-0.7,0.3-1.4,0.6-2c0.3-0.6,0.7-1,1.1-1.4c0.5-0.4,1-0.6,1.7-0.6V3.3c-1.2,0-2.2,0.2-3,0.7C4.9,4.5,4.2,5.2,3.6,6c-0.5,0.8-1,1.8-1.2,2.9C2.1,10,2,11.2,2,12.4v6.9c0,1.1,0.9,2,2,2H8z'/></svg>");
	display: block;
	width: var(--space-6x);
	height: var(--space-6x);
	margin-bottom: var(--space-2x);
}

.wp-block-pullquote p {
	color: var(--color-black);
	font-size: var(--font-size-heading);
	font-weight: 900;
	line-height: normal;

	margin-bottom: var(--space-4x);
}