.overlay-block {
	position: fixed;
	inset: 0;
	z-index: 15;
}

#closeArea {
	position: absolute;
	inset: 0;
	background-color: var(--color-black-85);

	cursor: pointer;
}

#overlay {
	position: absolute;
	inset: var(--space-4x);
	z-index: 1;

	border-radius: var(--space-2x);
	border: 1px solid var(--color-gray-blue);
	background-color: var(--color-black-bg);
}

#overlay #closeBtn {
	width: var(--space-12x);
	height: var(--space-12x);
}

#overlay #closeBtn > * {
	width: var(--space-8x);
}

/* ---------- Img overlay ---------- */
#overlay.is-img-overlay img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;

	transition: var(--transition) ease-in;
}

#overlay.is-img-overlay img:not(.current) {
	opacity: 0;
}

#imgSlideLeft, #imgSlideRight { display: none; }

.is-gallery #imgSlideLeft {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 50%;
	height: 100%;
	cursor: url('/assets/images/icons/cursor-left.cur') 16 24, pointer;
}

.is-gallery #imgSlideRight {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
	width: 50%;
	height: 100%;
	cursor: url('/assets/images/icons/cursor-right.cur') 16 24, pointer;
}

#overlay.is-img-overlay #closeBtn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 25;

	border-radius: 0 7px 0 8px;
	border-left: 1px solid var(--color-gray-blue);
	border-bottom: 1px solid var(--color-gray-blue);
}

#overlay.is-img-overlay #closeBtn:hover,
#overlay.is-img-overlay #closeBtn:active {
	background-color: #870000;
}

/* ---------- Iframe overlay ---------- */
.is-iframe-overlay {
	display: flex;
	overflow: hidden;
}

.is-iframe-overlay__panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	width: var(--space-16x);
	height: 100%;

	border-right: 1px solid var(--color-gray-blue);
}

.is-iframe-overlay__panel__name {
	margin-bottom: var(--space-6x);

	color: var(--color-gray);
	writing-mode: sideways-lr;
	font-size: var(--font-size-content-big);
	font-weight: 400;
	letter-spacing: -0.01em;
}

#overlay.is-iframe-overlay #closeBtn {
	margin-top: var(--space-2x);
}

#overlay.is-iframe-overlay iframe {
	border: none;
	width: 100%;
	height: 100%;
}

/* ---------- Cookie overlay ---------- */
.cookie-overlay_fixed-wrapper {
	position: fixed;
	bottom: var(--space-2x);
	z-index: 10;

	width: 100%;
}

.cookie-overlay {
	display: flex;
	max-width: calc(var(--space-6x) + var(--content-area-width));
	margin: 0 auto;
	padding: 0;
}

.cookie-overlay__block {
	position: relative;
	display: flex;
	gap: var(--space-7x);

	min-height: 76px;
	margin-left: auto;
	padding: 0 var(--space-3x);

	border-radius: 12px;
	background: linear-gradient(99deg, #000 43.2%, #520B7E 100%);

	animation: cookieIn var(--transition-long) ease-in-out;
}

.cookie-overlay__description {
	padding: var(--space-3x) 0;
}

.cookie-overlay__text {
	margin-bottom: var(--space-4x);

	color: var(--color-white);
	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.01em;
}

.cookie-overlay img {
	height: 112px;
	aspect-ratio: 1/1;
	transform: translateY(-12px);
}

@keyframes cookieIn {
	from	{opacity: 0; transform: translateX(var(--space-32x));}
	to {opacity: 1; transform: translateX(0)}
}