* {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
}


/* Buttons */
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-2x);
	padding: var(--space-2x) var(--space-6x);
	
	text-align: center;
	font-size: var(--font-size-content-big);
	letter-spacing: -0.18px;
	font-weight: 700;
	text-decoration: none;

	border-radius: var(--space-2x);
	color: var(--color-black);
	background-color: var(--color-white);

	cursor: pointer;
	transition: var(--transition);
}

.btn:not(.is-transparent-bg, .is-bordered):hover,
.btn:not(.is-transparent-bg, .is-bordered):active {
	box-shadow: 2px -2px 8px 0px rgba(234, 201, 255, 0.30), -2px 2px 8px 0px rgba(234, 201, 255, 0.30);
}

.btn:not(.is-transparent-bg):active {
	filter: brightness(88%);
}

.btn.is-small {
	padding: var(--space) var(--space-2x);

	font-size: var(--font-size-content);
	font-weight: 400;
	letter-spacing: -0.16px;

	border-radius: var(--space);
}

.btn.is-transparent-bg {
	color: var(--color-white);
	background-color: transparent;
}

.btn.is-transparent-bg:hover {
	color: var(--color-violet-bg-ease);
}

.btn.is-transparent-bg:active {
	color: var(--color-violet-bg-ease);
	filter: brightness(88%);
}

.btn.is-bordered {
	box-sizing: border-box;
	padding: calc(var(--space-2x) - 1px) calc(var(--space-6x) - 1px);
	border: 2px solid var(--color-gray);
	background-color: transparent;
	color: var(--color-gray);
}

.btn.is-bordered:hover {
	color: var(--color-violet-bg-ease);
	border-color: var(--color-violet-bg-ease);
}

.btn.is-bordered:active {
	color: var(--color-violet-bg-ease);
	border-color: var(--color-violet-bg-ease);
	filter: brightness(88%);
}

/* Headings and Texts */
.heading {
	display: inline-block;
	margin-left: var(--space-8x);

	color: var(--color-black);
	font-size: var(--font-size-heading-big);
	font-weight: 700;
	letter-spacing: -0.32px;
	text-transform: uppercase;
}

.heading::before {
	content: "/";
	color: var(--color-violet);
}

.text {
	color: var(--color-black);
	font-size: var(--font-size-content-big);
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.18px;
}