* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


section {
	overflow: hidden;
}

a[name] {
	position: relative;
	top: calc(0px - var(--header-height) - var(--space-10x));
}

.svg {
	position: absolute;
	z-index: -10;
	opacity: 0;
	left: 0;
}

.content-area-wrapper {
	box-sizing: content-box;
	max-width: var(--content-area-width);
	margin: 0 auto;
	padding: 0 var(--space-4x);
}

/* #cursor {
	position: fixed;
	z-index: 21;
	width: 8px;
	height: 8px;
	will-change: transform;
	transform: translate(-4px, -4px);

	user-select: none;
	pointer-events: none;

	border-radius: 50%;
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
}

#aura {
	position: fixed;
	z-index: 20;

	width: 48px;
	height: 48px;

	will-change: transform;
	transform: translate(-24px, -24px);

	user-select: none;
	pointer-events: none;

	border-radius: 50%;
	border: 1px dashed var(--color-gray-blue);
	backdrop-filter: blur(1px);
	
	transition: 56ms;
} */


/* ---------- Animations ---------- */
.text-animation-block {
	overflow: hidden;
}

.can-open {
	cursor: zoom-in;
}

/* ---------- Adaptation ---------- */
@media only screen and (max-width: 1100px) {
	.scrolling-through {
		transform: translateX(var(--scrolling-through-translate));
		transition: var(--transition-fast);
	}
}

/* ---------- Buttons ---------- */
.btn {
	display: inline-flex;
	align-items: center;
	gap: var(--space-2x);

	box-sizing: border-box;
	padding: var(--space-2x) var(--space-6x);
	
	text-align: center;
	white-space: nowrap;
	font-size: var(--font-size-content-big);
	letter-spacing: -0.18px;
	font-weight: 700;
	text-decoration: none;

	border-radius: var(--space-2x);
	color: var(--color-black);
	background-color: var(--color-white);

	cursor: pointer;
	transition: var(--transition);
	overflow: hidden;
}

.btn:not(.is-transparent-bg, .is-bordered):hover,
.btn:not(.is-transparent-bg, .is-bordered):active {
	box-shadow: 2px -2px 8px 0px rgba(234, 201, 255, 0.30), -2px 2px 8px 0px rgba(234, 201, 255, 0.30);
}

.btn:not(.is-transparent-bg):active {
	filter: brightness(88%);
}

.btn.is-small {
	padding: var(--space) var(--space-2x);

	font-size: var(--font-size-content);
	font-weight: 400;
	letter-spacing: -0.16px;

	border-radius: var(--space);
}

.btn.is-only-icon {
	position: relative;
	display: flex;

	width: var(--space-9x);
	height: var(--space-9x);
	padding: 0;

	border-radius: var(--space);

	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.01em;
}

.btn.is-only-icon > * {
	margin: auto;
	width: 10px;

	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.01em;
}

.btn.is-transparent-bg {
	color: var(--color-white);
	background-color: transparent;
}

.btn.is-transparent-bg:hover {
	color: var(--color-violet-bg-ease);
}

.btn.is-transparent-bg:active {
	color: var(--color-violet-bg-ease);
	filter: brightness(88%);
}

.btn.is-bordered {
	box-sizing: border-box;
	padding: calc(var(--space-2x) - 1px) calc(var(--space-6x) - 1px);
	border: 2px solid var(--color-gray);
	background-color: transparent;
	color: var(--color-gray);
}

.btn.is-small.is-bordered {
	padding: 5px 11px;
	border-radius: 6px;
}

.btn.is-bordered:hover {
	color: var(--color-violet-bg-ease);
	border-color: var(--color-violet-bg-ease);
}

.btn.is-bordered:active {
	color: var(--color-violet-bg-ease);
	border-color: var(--color-violet-bg-ease);
	filter: brightness(88%);
}

/* ---------- Headings and Texts ---------- */
.heading {
	display: inline-block;
	margin-left: var(--space-8x);

	color: var(--color-black);
	font-size: var(--font-size-heading-big);
	font-weight: 700;
	letter-spacing: -0.32px;
	text-transform: uppercase;
}

.heading::before {
	content: "/";
	color: var(--color-violet);
}

.text {
	color: var(--color-black);
	font-size: var(--font-size-content-big);
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.18px;
}

/* Quotes */
.quote {
	padding-top: var(--space-8x);
	border-top: 1px solid var(--color-black)
}

.quote p {
	color: var(--color-black);
	font-size: var(--font-size-heading);
	font-weight: 700;
	letter-spacing: -0.24px;
}

.quote p span {
	color: var(--color-violet);
	font-style: italic;
}

.quote::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg'><path d='M20 21.0002C21.1046 21.0002 22 20.1048 22 19.0002V14.1165C22 13.012 21.1046 12.1165 20 12.1165H17.2248C17.2248 11.4137 17.2661 10.7108 17.3488 10.008C17.4729 9.26381 17.6796 8.60231 17.969 8.0235C18.2584 7.44469 18.6305 6.98991 19.0853 6.65916C19.5401 6.28707 20.1189 6.10102 20.8217 6.10102V3.00024C19.6641 3.00024 18.6512 3.24831 17.7829 3.74443C16.9147 4.24055 16.1912 4.90205 15.6124 5.72893C15.0749 6.5558 14.6615 7.52738 14.3721 8.64366C14.124 9.71859 14 10.8762 14 12.1165V19.0002C14 20.1048 14.8954 21.0002 16 21.0002H20Z' fill='%23000000'/><path d='M8 21.0002C9.10457 21.0002 10 20.1048 10 19.0002V14.1165C10 13.012 9.10457 12.1165 8 12.1165H5.22481C5.22481 11.4137 5.26615 10.7108 5.34883 10.008C5.47287 9.26381 5.67959 8.60231 5.96899 8.0235C6.2584 7.44469 6.63049 6.98991 7.08527 6.65916C7.54005 6.28707 8.11886 6.10102 8.82171 6.10102V3.00024C7.66408 3.00024 6.65116 3.24831 5.78294 3.74443C4.91473 4.24055 4.19121 4.90205 3.6124 5.72893C3.07494 6.5558 2.6615 7.52738 2.37209 8.64366C2.12403 9.71859 2 10.8762 2 12.1165V19.0002C2 20.1048 2.89543 21.0002 4 21.0002H8Z' fill='%23000000'/></svg>");
	display: block;
	width: var(--space-6x);
	height: var(--space-6x);
	margin-bottom: var(--space-2x);
}

.quote cite {
	display: inline-block;
	margin-top: var(--space-8x);

	color: var(--color-gray);
	font-size: var(--font-size-content);
	font-weight: 400;
	letter-spacing: -0.16px;
}


/* Pagination */
.pagination {
	display: flex;
	align-items: center;
	gap: var(--space-2x);
}

.pagination .btn {
	justify-content: center;
}

.pagination .btn.is-current {
	color: var(--color-white);
	background: var(--color-violet);
	cursor: default;
}

.pagination .btn.is-current:hover,
.pagination .btn.is-current:active {
	box-shadow: none;
	filter: none;
}

/* ---------- Adaptation ---------- */
@media only screen and (max-width: 1100px) {
	.heading {
		display: block;
		margin-left: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 540px) {
	.pagination {
		justify-content: center;
	}

	.about, .command, .main-banner {
		order: -1;
	}

	.heading {
		text-align: left;
	}
}