.cases {
	background-color: var(--color-black-bg);
	transform: translateZ(-1px);
}

.cases-banner {
	position: relative;
	transform: translateZ(-1px);

	padding-top: var(--space-16x);
}

.cases-banner::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -2;
	background: linear-gradient(180deg, rgba(22, 25, 28, 0.80) 0%, #16191C 100%);
	backdrop-filter: blur(64px);
}

.cases-banner .heading {
	color: var(--color-white);
	margin-bottom: var(--space-16x);
}


/* Universal cases styles */
.cases__link {
	text-decoration: none;
}

.cases__btn-to-web {
	display: block;
}

.cases__btn-to-web div {
	display: flex;
	align-items: center;
	gap: var(--space-2x);

	color: var(--color-white);
	font-size: var(--font-size-content-small);
	font-weight: 300;
	line-height: -0.14px;
	text-decoration: none;

	cursor: pointer;
	transition: var(--transition);
}

.cases__btn-to-web div:hover {
	color: var(--color-violet-bg-ease);
}

.cases__btn-to-web div .favicon {
	display: block;
	width: var(--space-4x);
	height: var(--space-4x);
	object-fit: cover;
}


.cases__heading {
	color: var(--color-white);
	font-size: var(--font-size-heading-big);
	font-weight: 700;
	line-height: -0.32px;
}

.cases__descr {
	color: var(--color-white);
	font-size: var(--font-size-content-big);
	font-weight: 400;
	line-height: -0.18px;
}

.cases__category-list {
	position: relative;
	margin-top: auto;
	list-style-type: none;
}

.cases__category-list li {
	color: var(--color-violet);
	font-size: var(--font-size-content-small);
	font-weight: 400;
	line-height: -0.14px;
	text-decoration: none;

	cursor: pointer;
}

.cases__category-list li:hover {
	text-decoration: underline;
}


/* Cases banner */
.cases-banner__block {
	display: flex;
	transition: var(--transition-fast) ease-in;
}

.cases-banner__block:hover {
	transform: scale(100.8%);
}

.cases-banner__block .cases__link::after  {
	max-width: var(--content-area-width);
	height: calc(var(--space-column-4)/16*9);
	margin: var(--space-16x) auto;
	opacity: 0;
}

.cases-banner__img-block {
	position: relative;
	display: block;
	width: var(--space-column-4);
	aspect-ratio: 16/9;
	overflow: hidden;

	border-radius: var(--space) 0 0 var(--space);
}

.cases-banner__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cases-banner__img-block .cases__btn-to-web div {
	position: absolute;
	left: var(--space-8x);
	bottom: var(--space-4x);
	z-index: 2;

	padding: var(--space) var(--space-2x);
	border-radius: var(--space);
	background-color: var(--color-black);
}

.cases-banner__headings-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	box-sizing: border-box;
	width: calc(var(--space-column-2) + var(--space-column-gap));
	padding: var(--space-4x);
}

.cases-banner__headings-block::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	height: 100%;
	width: calc(100% + var(--space-4x));
	
	clip-path: url("#rectangleCasesBanner");
	background-color: var(--color-white);
}

.cases-banner__block .cases__heading {
	color: var(--color-black);
}

.cases-banner__block .cases__descr {
	margin-top: var(--space-3x);
	color: var(--color-black);
}

.cases-banner__block .cases__category-list li {
	color: var(--color-gray);
}


/* Other cases */
.cases-list {
	padding-top: var(--space-16x);
	padding-bottom: var(--space-16x);
}

.cases-list .content-area-wrapper {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.cases-list .btn {
	margin-top: var(--space-8x);
}

.cases-list__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-4x);
	padding: var(--space-6x) 0;
	border-bottom: 1px solid var(--color-gray-blue)
}

.cases-list__item:first-child {
	border-top: 1px solid var(--color-gray-blue)
}

.cases-list__item__image-block {
	position: relative;
	width: var(--space-column-2);
}

.cases-list__item__image-block::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;

	width: 100%;
	height: 100%;

	clip-path: url("#rectangleCasesCover");
	background: linear-gradient(180deg, #373D44 0%, rgba(55, 61, 68, 0.00) 100%);
}

.cases-list__item__image {
	position: relative;
	top: var(--space-4x);
	left: var(--space-8x);
	margin-bottom: var(--space-4x);
	margin-right: var(--space-8x);

	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;

	border-radius: var(--space);
	border: 1px solid var(--color-violet-bg-ease);
	
	transition: var(--transition-fast) ease-in;
}

.cases-list__item:hover .cases-list__item__image {
	transform: scale(102%);
}

.cases-list__item__image-block .cases__btn-to-web {
	margin-top: var(--space-4x);
	margin-bottom: var(--space-4x);
	margin-left: var(--space-8x);
}

.cases-list__item__descr-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-top: var(--space-5x);
	margin-bottom: var(--space-3x);
}

.cases-list__item__descr-block .cases__descr {
	margin-top: var(--space-4x);
}

.cases__category-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cases-list__item__descr-block .cases__category-list::after {
	content: url("data:image/svg+xml, <svg viewBox='0 0 25 26' xmlns='http://www.w3.org/2000/svg'><path d='M5.64574 24.6832C5.04193 24.9935 4.35823 24.4512 4.47979 23.7583L5.77624 16.3684L0.272599 11.1237C-0.241746 10.6335 0.0245042 9.73734 0.71355 9.63945L8.36742 8.55215L11.7801 1.79193C12.0875 1.18296 12.9203 1.18296 13.2277 1.79193L16.6404 8.55215L24.2943 9.63945C24.9833 9.73734 25.2496 10.6335 24.7352 11.1237L19.2316 16.3684L20.528 23.7583C20.6496 24.4512 19.9659 24.9935 19.3621 24.6832L12.5039 21.1583L5.64574 24.6832Z' fill='%23373D44'/></svg>");
	display: block;
	width: var(--space-6x);
	height: var(--space-6x);
}