.page-404 {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	padding: var(--space-32x) 0;

	background-color: var(--color-black-bg);
}

.page-404 .content-area-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 100%;
}

.page-404 .content-area-wrapper::before {
	content: url("data:image/svg+xml, <svg width='217' height='170' viewBox='0 0 217 170' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M28.3125 134.5V121.688L37.8125 119.688V112.312H3L1.5625 102.125L37.9375 43.5H59.6875V98.625H68.5625V112.312H59.6875V119.688L69.0625 121.688V134.5H28.3125ZM21.0625 98.625H37.8125V72L37.4375 71.875L35.75 74.0625L21.0625 98.625ZM108.298 135.812C98.4225 135.812 90.61 132.688 84.86 126.438C79.11 120.188 76.235 110.917 76.235 98.625V79.4375C76.235 67.1875 79.11 57.9167 84.86 51.625C90.61 45.3333 98.3808 42.1875 108.173 42.1875C117.881 42.1875 125.61 45.3333 131.36 51.625C137.152 57.9167 140.048 67.1875 140.048 79.4375V98.625C140.048 110.917 137.173 120.188 131.423 126.438C125.714 132.688 118.006 135.812 108.298 135.812ZM108.298 119.125C111.506 119.125 113.964 117.667 115.673 114.75C117.381 111.792 118.235 106.833 118.235 99.875V78.0625C118.235 71.2292 117.36 66.3333 115.61 63.375C113.86 60.4167 111.381 58.9375 108.173 58.9375C104.839 58.9375 102.318 60.4167 100.61 63.375C98.9017 66.2917 98.0475 71.1875 98.0475 78.0625V99.875C98.0475 106.875 98.9017 111.833 100.61 114.75C102.318 117.667 104.881 119.125 108.298 119.125ZM172.533 134.5V121.688L182.033 119.688V112.312H147.22L145.783 102.125L182.158 43.5H203.908V98.625H212.783V112.312H203.908V119.688L213.283 121.688V134.5H172.533ZM165.283 98.625H182.033V72L181.658 71.875L179.97 74.0625L165.283 98.625Z' fill='url(%23paint0_radial_406_2089)'/><path d='M158.243 134.734C157.259 134.734 156.376 134.578 155.594 134.266C154.813 133.945 154.149 133.504 153.602 132.941C153.063 132.379 152.649 131.727 152.36 130.984C152.071 130.234 151.927 129.438 151.927 128.594V128.125C151.927 127.164 152.063 126.285 152.337 125.488C152.61 124.691 153.001 124 153.509 123.414C154.024 122.828 154.649 122.379 155.384 122.066C156.118 121.746 156.946 121.586 157.868 121.586C158.766 121.586 159.563 121.734 160.259 122.031C160.954 122.328 161.536 122.75 162.005 123.297C162.481 123.844 162.841 124.5 163.083 125.266C163.325 126.023 163.446 126.867 163.446 127.797V129.203H153.368V126.953H160.13V126.695C160.13 126.227 160.044 125.809 159.872 125.441C159.708 125.066 159.458 124.77 159.122 124.551C158.786 124.332 158.356 124.223 157.833 124.223C157.387 124.223 157.005 124.32 156.684 124.516C156.364 124.711 156.102 124.984 155.899 125.336C155.704 125.688 155.555 126.102 155.454 126.578C155.36 127.047 155.313 127.562 155.313 128.125V128.594C155.313 129.102 155.384 129.57 155.524 130C155.673 130.43 155.88 130.801 156.145 131.113C156.419 131.426 156.747 131.668 157.13 131.84C157.52 132.012 157.962 132.098 158.454 132.098C159.063 132.098 159.63 131.98 160.153 131.746C160.684 131.504 161.141 131.141 161.524 130.656L163.165 132.438C162.899 132.82 162.536 133.188 162.075 133.539C161.622 133.891 161.075 134.18 160.434 134.406C159.794 134.625 159.063 134.734 158.243 134.734ZM168.503 124.586V134.5H165.128V121.82H168.304L168.503 124.586ZM172.323 121.738L172.265 124.867C172.101 124.844 171.901 124.824 171.667 124.809C171.44 124.785 171.233 124.773 171.046 124.773C170.569 124.773 170.155 124.836 169.804 124.961C169.46 125.078 169.171 125.254 168.937 125.488C168.71 125.723 168.538 126.008 168.421 126.344C168.312 126.68 168.249 127.062 168.233 127.492L167.554 127.281C167.554 126.461 167.636 125.707 167.8 125.02C167.964 124.324 168.202 123.719 168.515 123.203C168.835 122.688 169.226 122.289 169.687 122.008C170.147 121.727 170.675 121.586 171.269 121.586C171.456 121.586 171.647 121.602 171.843 121.633C172.038 121.656 172.198 121.691 172.323 121.738ZM177.052 124.586V134.5H173.677V121.82H176.853L177.052 124.586ZM180.872 121.738L180.814 124.867C180.65 124.844 180.45 124.824 180.216 124.809C179.989 124.785 179.782 124.773 179.595 124.773C179.118 124.773 178.704 124.836 178.353 124.961C178.009 125.078 177.72 125.254 177.486 125.488C177.259 125.723 177.087 126.008 176.97 126.344C176.861 126.68 176.798 127.062 176.782 127.492L176.103 127.281C176.103 126.461 176.185 125.707 176.349 125.02C176.513 124.324 176.751 123.719 177.064 123.203C177.384 122.688 177.775 122.289 178.236 122.008C178.697 121.727 179.224 121.586 179.818 121.586C180.005 121.586 180.197 121.602 180.392 121.633C180.587 121.656 180.747 121.691 180.872 121.738ZM181.335 128.289V128.043C181.335 127.113 181.468 126.258 181.734 125.477C181.999 124.688 182.386 124.004 182.894 123.426C183.402 122.848 184.027 122.398 184.769 122.078C185.511 121.75 186.363 121.586 187.324 121.586C188.285 121.586 189.14 121.75 189.89 122.078C190.64 122.398 191.269 122.848 191.777 123.426C192.292 124.004 192.683 124.688 192.949 125.477C193.214 126.258 193.347 127.113 193.347 128.043V128.289C193.347 129.211 193.214 130.066 192.949 130.855C192.683 131.637 192.292 132.32 191.777 132.906C191.269 133.484 190.644 133.934 189.902 134.254C189.16 134.574 188.308 134.734 187.347 134.734C186.386 134.734 185.531 134.574 184.781 134.254C184.039 133.934 183.41 133.484 182.894 132.906C182.386 132.32 181.999 131.637 181.734 130.855C181.468 130.066 181.335 129.211 181.335 128.289ZM184.71 128.043V128.289C184.71 128.82 184.757 129.316 184.851 129.777C184.945 130.238 185.093 130.645 185.296 130.996C185.507 131.34 185.781 131.609 186.117 131.805C186.453 132 186.863 132.098 187.347 132.098C187.816 132.098 188.218 132 188.554 131.805C188.89 131.609 189.16 131.34 189.363 130.996C189.566 130.645 189.714 130.238 189.808 129.777C189.91 129.316 189.96 128.82 189.96 128.289V128.043C189.96 127.527 189.91 127.043 189.808 126.59C189.714 126.129 189.562 125.723 189.351 125.371C189.148 125.012 188.878 124.73 188.542 124.527C188.207 124.324 187.8 124.223 187.324 124.223C186.847 124.223 186.441 124.324 186.105 124.527C185.777 124.73 185.507 125.012 185.296 125.371C185.093 125.723 184.945 126.129 184.851 126.59C184.757 127.043 184.71 127.527 184.71 128.043ZM198.556 124.586V134.5H195.181V121.82H198.357L198.556 124.586ZM202.377 121.738L202.318 124.867C202.154 124.844 201.955 124.824 201.72 124.809C201.494 124.785 201.287 124.773 201.099 124.773C200.623 124.773 200.209 124.836 199.857 124.961C199.513 125.078 199.224 125.254 198.99 125.488C198.763 125.723 198.592 126.008 198.474 126.344C198.365 126.68 198.302 127.062 198.287 127.492L197.607 127.281C197.607 126.461 197.689 125.707 197.853 125.02C198.017 124.324 198.256 123.719 198.568 123.203C198.888 122.688 199.279 122.289 199.74 122.008C200.201 121.727 200.728 121.586 201.322 121.586C201.509 121.586 201.701 121.602 201.896 121.633C202.092 121.656 202.252 121.691 202.377 121.738Z' fill='white'/><defs><radialGradient id='paint0_radial_406_2089' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(0 0.5) rotate(38.0399) scale(274.257 350.53)'><stop stop-color='%239747FF'/><stop offset='1' stop-color='%2313191C'/></radialGradient></defs></svg>");
}

.page-404 .content-area-wrapper::after {
	content: "///¯\005C_(ツ)_/¯///";
	margin-top: var(--space-9x);

	color: var(--color-gray-blue);
	font-family: Roboto;
	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.01em;
}

.page-404 h1 {
	color: var(--color-white);
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.01em;
}

.page-404 p {
	margin-top: var(--space-3x);

	color: var(--color-gray);
	font-size: var(--font-size-content);
	font-weight: 400;
	letter-spacing: -0.01em;
}

.page-404__bg-back-hole {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

.page-404__bg-back-hole img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page-404__bg-back-hole::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	background: linear-gradient(105deg, #151A1E 24.35%, rgba(21, 26, 30, 0.70) 100%);
}