.services__block {
	margin-top: var(--space-16x);
	margin-bottom: var(--space-16x);
}

.services__block .text {
	margin-top: var(--space-3x);
	margin-left: var(--space-8x);
}

.services__categories-block {
	position: relative;
	padding-top: var(--space-16x);
}

.services__categories-block::before,
.services__categories-block::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	border-radius: 2px;
	background: linear-gradient(0deg, rgba(1, 255, 189, 0.00) 0%, rgba(1, 255, 189, 0.99) 21.25%, rgba(1, 131, 255, 1.00) 51.98%, #9D01FF 82.71%, rgba(157, 1, 255, 0.00) 100%);
}

.services__categories-block::after {
	filter: blur(4px);
}

.services-category {
	display: grid;
	grid-template-columns: 346px 708px;
	gap: var(--space-column-gap);
}

.services-category:nth-child(n+2) {
	margin-top: var(--space-12x);
}

/* Heading of categories */
.services-category__heading {
	display: inline-flex;
	align-items: center;
	gap: var(--space-3x);

	min-height: var(--space-10x);
	height: min-content;

	white-space: nowrap;
	color: var(--color-black-precious);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.16px;
}

.services-category__heading::before {
	content: "";
	height: var(--space-4x);
	min-width: var(--space-4x);
	object-fit: contain;
	padding: var(--space-3x);
	border-radius: 0 var(--space-2x) var(--space-2x) 0;

	background-color: var(--color-black-precious);
}

.services-category__heading::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 2px;

	background-color: var(--color-black-precious);
}

.services-category__heading.is-design { 
	color: var(--color-violet); 
}
.services-category__heading.is-design::before,
.services-category__heading.is-design::after { 
	background-color: var(--color-violet); 
}
.services-category__heading.is-design::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'><path fill='%23FFFFFF' d='M10.6,0.6c0.2-0.2,0.5-0.2,0.7,0l4,4c0.2,0.2,0.2,0.5,0,0.7l-1.9,1.9l-0.8,3.3c-0.1,0.5-0.5,0.9-1,1.1L1.3,14.7L4.4,4.4c0.2-0.5,0.6-0.9,1.1-1l3.3-0.8L10.6,0.6z M8.8,3.6L5.7,4.3c-0.2,0-0.3,0.2-0.4,0.3l-2.6,8.6l0-0.1L7,8c0-0.6,0.4-1,1-1c0.6,0,1,0.4,1,1S8.6,9,8,9l-5.2,4.2l-0.1,0l8.6-2.6c0.2-0.1,0.3-0.2,0.3-0.4l0.8-3.2L8.8,3.6z'/></svg>");
}

.services-category__heading.is-dev { 
	color: var(--color-blue); 
}
.services-category__heading.is-dev::before,
.services-category__heading.is-dev::after { 
	background-color: var(--color-blue); 
}
.services-category__heading.is-dev::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'><path fill='%23FFFFFF' d='M10.5,1.6c0.1-0.3-0.1-0.5-0.3-0.6C9.9,0.9,9.6,1.1,9.5,1.4l-4,13c-0.1,0.3,0.1,0.5,0.3,0.6c0.3,0.1,0.5-0.1,0.6-0.3L10.5,1.6z M4.9,4.1C5,4.3,5,4.7,4.9,4.9L1.7,8l3.1,3.1c0.2,0.2,0.2,0.5,0,0.7c-0.2,0.2-0.5,0.2-0.7,0L0.6,8.4c-0.2-0.2-0.2-0.5,0-0.7l3.5-3.5C4.3,4,4.7,4,4.9,4.1z M11.1,4.1c-0.2,0.2-0.2,0.5,0,0.7L14.3,8l-3.1,3.1c-0.2,0.2-0.2,0.5,0,0.7c0.2,0.2,0.5,0.2,0.7,0l3.5-3.5c0.2-0.2,0.2-0.5,0-0.7l-3.5-3.5C11.7,4,11.3,4,11.1,4.1z'/></svg>");
}

.services-category__heading.is-promotion { 
	color: var(--color-aquamarine); 
}
.services-category__heading.is-promotion::before,
.services-category__heading.is-promotion::after { 
	background-color: var(--color-aquamarine); 
}
.services-category__heading.is-promotion::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'><path fill='%23FFFFFF' d='M0,0h1v15h15v1H0V0z M10,3.5C10,3.2,10.2,3,10.5,3h4C14.8,3,15,3.2,15,3.5v4C15,7.8,14.8,8,14.5,8S14,7.8,14,7.5V4.9l-3.6,4.4c-0.1,0.1-0.2,0.2-0.4,0.2c-0.1,0-0.3,0-0.4-0.1L7.1,6.8l-3.7,5c-0.2,0.2-0.5,0.3-0.7,0.1c-0.2-0.2-0.3-0.5-0.1-0.7l4-5.5C6.7,5.6,6.8,5.5,7,5.5c0.1,0,0.3,0,0.4,0.1L10,8.3L13.4,4h-2.9C10.2,4,10,3.8,10,3.5z'/></svg>");
}

/* Service cards */
.services-category__cards-block {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: var(--space-4x);
}

.service-card {
	box-sizing: border-box;
	width: var(--space-column-2);
	padding: var(--space-3x);

	border-radius: var(--space-2x);
	border: 1px solid var(--color-gray);
	background-color: var(--color-white);

	text-decoration: none;
	transition: ease-in 150ms;
}

.service-card:hover {
	transform: scale(102%);
	box-shadow: 0px 4px 16px #00000015;
}

.service-card:active {
	box-shadow: none;
	transition: ease-in 50ms;
}

.service-card.is-popular {
	background-color: var(--color-black-precious);
	border-color: var(--color-black-precious);
}

.service-card__heading {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.service-card__heading h4 {
	height: 2.4em;
	overflow: hidden;

	color: var(--color-black);
	font-size: var(--font-size-content-big);
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -0.18px;
}

.service-card.is-popular .service-card__heading h4 {
	color: var(--color-white);
	font-weight: 500;
}

.service-card__heading::after {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'><path fill='%23999999' d='M14,1c0.6,0,1,0.4,1,1v12c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V2c0-0.6,0.4-1,1-1H14z M2,0C0.9,0,0,0.9,0,2v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V2c0-1.1-0.9-2-2-2H2z M8.9,6.6L6.6,6.9L6.6,7.3L7,7.3c0.3,0.1,0.4,0.2,0.3,0.5l-0.7,3.5c-0.2,0.9,0.1,1.3,0.8,1.3c0.5,0,1.2-0.3,1.5-0.6l0.1-0.4c-0.2,0.2-0.5,0.2-0.7,0.2c-0.3,0-0.4-0.2-0.3-0.5L8.9,6.6z M9,4.5c0,0.6-0.4,1-1,1c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1C8.6,3.5,9,3.9,9,4.5z'/></svg>");
	min-width: var(--space-4x);
	width: var(--space-4x);
	margin-left: var(--space-3x);
}

.service-card__descr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-2x);

	margin-top: var(--space-2x);
}

.service-card__price {
	color: var(--color-gray);
	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.14px;
}

.service-card.is-popular .service-card__price {
	color: var(--color-aquamarine);
	font-weight: 300;
}

.service-card__more {
	display: flex;
	align-items: center;
	gap: var(--space);
}

.service-card__more::after {
	content: "Подробнее \005C\005C\005C";
	color: var(--color-gray);
	font-size: 8px;
	font-weight: 700;
	text-transform: uppercase;
}

.service-card.is-popular .service-card__more::before {
	content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'><path fill='%2301FFBD' d='M10.3,6.1c0.2,0.2,0.2,0.5,0,0.7l-3,3C7.3,9.9,7.1,10,7,10c-0.1,0-0.3-0.1-0.4-0.1L5.1,8.4c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0L7,8.8l2.6-2.6C9.8,6,10.2,6,10.3,6.1z M10.3,2.5L9.3,1.6l0.7-0.7l0.6,0.6l0.9,0c1.6,0,2.9,1.3,2.9,2.9l0,0.9l0.6,0.6c1.2,1.1,1.2,3,0,4.1l-0.6,0.6l0,0.9c0,1.6-1.3,2.9-2.9,2.9l-0.9,0l-0.6,0.6c-1.1,1.2-3,1.2-4.1,0l-0.6-0.6l-0.9,0c-1.6,0-2.9-1.3-2.9-2.9l0-0.9l-0.6-0.6c-1.2-1.1-1.2-3,0-4.1l0.6-0.6l0-0.9c0-1.6,1.3-2.9,2.9-2.9l0.9,0l0.6-0.6c1.1-1.2,3-1.2,4.1,0L9.3,1.6c-0.7-0.8-2-0.8-2.7,0L5.7,2.5l-1.3,0c-1.1,0-1.9,0.9-1.9,1.9l0,1.3L1.6,6.6c-0.8,0.7-0.8,2,0,2.7l0.9,0.9l0,1.3c0,1.1,0.9,1.9,1.9,1.9l1.3,0l0.9,0.9c0.7,0.8,2,0.8,2.7,0l0.9-0.9l1.3,0c1.1,0,1.9-0.9,1.9-1.9l0-1.3l0.9-0.9c0.8-0.7,0.8-2,0-2.7l-0.9-0.9l0-1.3c0-1.1-0.9-1.9-1.9-1.9L10.3,2.5z'/></svg>");
	width: var(--space-4x);
	height: var(--space-4x);
}

.service-card.is-popular .service-card__more::after {
	content: "часто заказывают";
	text-transform: lowercase;
	color: var(--color-aquamarine);
	font-size: var(--font-size-content-small);
	font-weight: 300;
	letter-spacing: -0.14px;
}


/* ---------- Adaptation ---------- */
@media only screen and (max-width: 1100px) {
	.services__block.content-area-wrapper {
		max-width: var(--space-column-4);
	}


	.services-category {
		display: block;
	}

	.services-category__heading {
		display: flex;
		margin-bottom: var(--space-12x);
	}

	.services-category__cards-block {
		margin-left: var(--space-4x);
	}

	.services__block .text {
		margin-left: 0;
		text-align: center;
	}

	.service-card {
		width: calc(50% - var(--space-4x)/2);
	}
}

@media only screen and (max-width: 760px) {
	.service-card {
		width: 100%;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.services-category__cards-block {
		margin-left: 0;
	}

	.services-category__heading {
		margin-bottom: var(--space-4x);
	}

	.service-card__heading h4 {
		height: 3.6em;
	}

	.services__categories-block {
		padding-top: var(--space-8x);
	}

	.services__categories-block::before, 
	.services__categories-block::after {
		display: none;
	}

	.services-category:nth-child(n+2) {
		margin-top: var(--space-8x);
	 }

	.services-category__heading::before {
		border-radius: var(--space-2x);
	}
	
	.services__block .text {
		text-align: left;
	}
}

@media only screen and (max-width: 540px) {
	.services__block {
		margin-top: 0;
	}
}