/* Article headings */
.article__block {
	box-sizing: content-box;
	max-width: var(--space-column-4);
	margin: 0 auto;
	padding: 0 var(--space-4x);
}

.article__headings-block {
	padding-top: calc(var(--header-height) + var(--space-16x));

	background-color: var(--color-black-bg);
}

.article__headings-block__heading {
	color: var(--color-white);
	font-size: var(--font-size-heading-large);
	font-weight: 900;
	line-height: var(--font-size-heading-large); /* 100% */
	letter-spacing: -0.48px;
}

.article__headings-block__description {
	margin-top: var(--space-4x);

	color: var(--color-gray);
	font-size: var(--font-size-content-big);
	font-weight: 400;
	letter-spacing: -0.18px;
}

.article__headings-block__img-block {
	position: relative;
	top: var(--space-8x);

	width: 100%;
	aspect-ratio: 16/9;
	clip-path: url("#rectangleArticleCover");
}

.article__headings-block__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* Article author block */
.article__author-block {
	margin-top: var(--space-12x);
	margin-bottom: var(--space-8x);
	padding-bottom: var(--space-4x);

	border-bottom: 2px solid var(--color-violet);
}

.article__author-block__span {
	display: block;
	margin-bottom: var(--space-2x);

	color: var(--gray-blue);
	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.14px;
}

.article__author-block__author-name-date {
	display: flex;
	align-items: center;
	gap: var(--space-2x);
}

.article__author-block__name-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-2x);

	width: 100%;
}

.article__author-block__img {
	width: var(--space-10x);
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.article__author-block__name {
	margin-right: auto;

	color: var(--color-black);
	font-size: var(--font-size-content);
	font-weight: 700;
	letter-spacing: -0.16px;
}

.article__author-block__date {
	color: var(--gray-blue);
	font-size: var(--font-size-content);
	font-weight: 400;
	letter-spacing: -0.16px;
}

.article__block.comma-wp-content {
	margin-bottom: var(--space-32x);
}


/* Service heading */
.is-service-heading {
	padding-bottom: var(--space-16x);
	margin-bottom: var(--space-16x);
}

.is-service-heading .article__block {
	padding: var(--space-4x);

	border-radius: var(--space-2x);
	border: 1px solid var(--color-gray-blue);
}

.is-service-heading .article__headings-block__heading {
	font-size: 32px;
	font-weight: 900;
	line-height: 32px; /* 100% */
	letter-spacing: -0.01em;
}

.is-service-heading__price-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-2x);

	margin-top: var(--space-6x);
	margin-right: var(--space-3x);
}

.is-service-heading__price {
	color: var(--color-gray);
	font-size: var(--font-size-content-small);
	font-weight: 400;
	letter-spacing: -0.01em
}


/* ---------- Adaptation ---------- */
@media only screen and (max-width: 800px) {
	.is-service-heading .article__block {
		padding: none;
		border: none;
	}
}

@media only screen and (max-width: 540px) {
	.article__block.comma-wp-content {
		margin-bottom: var(--space-16x);
	}

	.is-service-heading {
		padding-top: calc(var(--header-height) + var(--space-8x));
		padding-bottom: var(--space-8x);
		margin-bottom: var(--space-8x);
	}
}